doctype html
html
    //Basically the same head as everything else. JS, Bootstrap, meta, title, scripts.
    head 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css",rel="stylesheet",integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel="stylesheet", href="https://use.typekit.net/lxq7vfs.css")
        link(rel="stylesheet", type="text/css", href="/styles.css")
        title= data.title
        meta(charset="UTF-8")
        meta(name="description", content="Tool for managing workshop guests")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
        script!= "data = " + JSON.stringify(data)
    body.w100.h100.container.guestBg
        #background.w100.row.justify-content-center.py-5
            #body.col-xxl-12.bg-light.rounded-3.p-5
                h3.text-center Available certifications for this shop
                ul.list-group.list-group-flush
                    //For each certification in the data
                    each cert in data
                        if cert.quizId
                            li.list-group-item
                                //Assemble the proper link elements
                                a(href= "./" + cert.name.replace(/\W/g, ''))= cert.name