.nav-link.active.text-light {
    color: #000000 !important;
}

.white-spacer {
    white-space: pre-line;
}

.popover-body {
    white-space: pre-line;
}

.notes p {
    z-index: 100;
}

.certBox {
    width: 35px;
    height: 35px;
}

.guestBg {
    width: 100vw;
    height: 100vh;
    background: #535AFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.welcomeText {
    white-space: pre-line;
    text-align: left;
    font: normal normal 900 84px/110px acumin-pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.welcomeDiv {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding-right: calc(4.5vw + 1vh);
}

.labelText {
    text-align: left;
    font: normal normal normal 75px/140% acumin-pro;
    letter-spacing: 0px;
    color: #626262;
    opacity: 1;
    white-space: pre-line;
}

.signInText {
    width: 100%;
    white-space: pre-line;
    height: auto;
    text-align: center;
    font: normal normal 900 160px/224px acumin-pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.registrationBox {
    display: block;
    width: 583px;
    height: fit-content;
    padding: 1.875rem 2.625rem 2.25rem 2.625rem;
    background-color: white;
    border-radius: 1rem;
}

.buttonText {
    font: normal normal 600 28px/40px acumin-pro;
    min-width: 150px;
}

hr {
    border: 2px solid #535AFFFF;
    background: #535AFF 0% 0% no-repeat padding-box;
    opacity: 1;
}